:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3f454d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  text-align: center;
}

.filter-list {
  list-style: none;
  display: flex;
  width: 700px;
  justify-content: space-between;
}

.filter-list span {
  width: 100px;
  height: 87px;
  border-radius: 7px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.blue {
  background-color: #3b88c3;
}

.yellow {
  background-color: #fbbe28;
}

.pink {
  background-color: #fd7f84;
}

.clothes-list {
  display: block;
  list-style: none;
}

.clothes-list li {
  background-color: white;
  width: 700px;
  height: 80px;
  margin-bottom: 9px;
  border-radius: 7px;

  display: flex;
  align-items: center;
}

.clothes-list img {
  width: 60px;
  height: auto;
  margin-left: 15px;

  /* vertical-align: middle; */
}

.clothes-list span {
  margin-left: 15px;
  font-size: 17px;
}
